@model Sklep_internetowy.View.ProductViewModel

@using Sklep_internetowy.Infrastructure

@{
    ViewBag.Title = "MainCategoryContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Internetowy Sklep Jeździecki - Radosny Koń";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function disable() {
        document.getElementById("colors").disabled = true;
    }

    function enable() {
        document.getElementById("colors").disabled = false;
    }
    function validation() {

        var tmp = document.getElementById("sizes");
        var selectedValue = tmp.options[tmp.selectedIndex].value;
        if (selectedValue == "primary") {
            disable();
        }
        else {
            enable();
        }

    }

</script>

<!-- Page Content -->
<div class="container" onchange="validation()">

    <div class="row">

        <div class="col-lg-3">
            @Html.Action("MainCategoriesMenu", "Home")
            <br /><br />
            @Html.Action("CategoriesMenu", "Category")
        </div>


        <!-- /.col-lg-3 -->

        <div class="col-lg-9" style="padding-top: 10px;">
            <div style=" position:relative; top:40px; border-style: groove;">
                @Html.MvcSiteMap().SiteMapPath()
            </div>
            <div class="row" style="padding-top:70px;">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100" style="position: relative;">
                        <a href="#">
                            <img class="card-img-top" src="@Url.GraphicsFilePath(Model.Product.GraphicFileName)" alt="">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#"></a>
                            </h4>
                            <h5></h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-6 mb-4">
                    <div class="card h-100" style="position: relative;">
                        <div class="card-body">
                            <h4 class="card-title">
                                @Model.Product.Name
                            </h4>
                            <h3>@Model.Product.Price zł</h3>


                            @using (Html.BeginForm("AddToShoppingCart", "ShoppingCart", new { sizeId = 1, colorId = 1, productId = Model.Product.ProductId }, FormMethod.Post, null))
                            {
                                if (Model.OptionalAttributes.IsSize == true && Model.OptionalAttributes.IsColor == true)
                                {
                                    @Html.DropDownList("sizeId", ViewBag.Sizes as SelectList, "--Wybierz rozmiar--", new { @onchange = "javascript:GetColors(this.value);" })
                                    <select id="colorId" name="colorId" style="width: 200px">
                                    </select>
                                }
                                else
                                {
                                    @Html.DropDownList("colorId", ViewBag.Colors as SelectList, "--Wybierz kolor--")
                                }

                                <input type="submit" value="Show" />
                            }

                            <br /><br />


                        </div>
                        <br />
                        <h7>Opis: @Model.Product.Description</h7>


                    </div>
                </div>
            </div>
        </div>


        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

</div>
<!-- /.row -->
        
<!-- /.container -->
<script>validation();</script>

<script>
    function selectedSize(item) {
        var selValue = item.value;
        var selText = item.options[item.selectedIndex].innerHTML;
        $('#sizeIdVal').val(selValue);
    }
</script>

<script>
    function selectedColor(item) {
        var selValue = item.value;
        var selText = item.options[item.selectedIndex].innerHTML;
        $('#colorIdVal').val(selValue);
    }
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script language="javascript" type="text/javascript">
    function GetColors(_sizeId) {
        var procemessage = "<option value='0'>Proszę czekać...</option>";
        $("#colorId").html(procemessage).show();
        var url = "@Url.Action("GetColorForSelectList","Product")";

        $.ajax({
            url: url,
            data: { sizeId: _sizeId, productId: @Model.Product.ProductId},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>--Wybierz kolor--</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#colorId").html(markup).show();
            },
            error: function (reponse) {
                alert("error: " + reponse);
            }
        });

    }
</script>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#submit").click(function () {
            document.forms[0].submit();
            return false;
        });
    });
</script>

